* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#wrap {
  width: 1024px;
  height: 800px;
  margin: auto;
  /* background-color: rgb(194, 191, 191); */
}

.navbar {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 30px;
  position: relative;
}
.fa-youtube{
  position: absolute;
  top: 20px;
}
.navbar form {
  position: absolute;
  left: 30%;
}
.fa-microphone {
  position: absolute;
  left: 53%;
}
.fa-border-none
{
  position: absolute;
  left: 80%;
}
.fa-ellipsis-vertical{
  position: absolute;
  left: 85%;
}
.navbar .fa-address-card {
  position: absolute;
  left: 90%;
}
.container-sidebar {
  float: left;
  width: 10%;
  position: fixed;
}
.container-sidebar li {
  padding: 5px;
}

.container-sidebar li a{
  display: block;
  text-decoration: none;
  color:black ; 
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}
.container-sidebar li a:hover {
  background: rgb(221, 219, 219);
}

.side-text {
  font-size: 12px;
  margin-top: 10px;
}

.container {
  width: 90%;
  float: right;
  /* background-color: rgb(217, 221, 235); */
  height: 100%;
}
.list{
  width: 100%;
  display: flex;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
table, td {
  padding: 20px;
}
td{
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
  background: rgb(238, 238, 238);
  color: black;
  display: inline-block;
  font-size: 10px;
}
td:nth-child(1){
  background: black;
  color: white;
}
.banner {
  width: 100%;
  background: black;
  color: white;
  padding: 20px;
  position: relative;
  clear: both;
}
.banner img {
  width: 300px;
}

.bannet-scrib {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.banner-cancle {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.bannet-scrib {
  margin: 30px 5px 10px 5px;
  padding: 10px;
}
.content{
  float: left;
  box-sizing: border-box;
  width: 30%;
  margin: 20px 10px 30px 10px;
  /* border: 1px solid rgb(189, 186, 186); */
}
.content h1 {
  font-size: 16px;
  line-height: 20px;
}
.content h2 {
  font-size: 12px;
  line-height: 20px;
}
.headshot {
  width: 10px;
  height: 10px;
}
.content img {
  width: 100%;
}
.clear-fix {
  clear: both;
  width: 100%;
}
